<%
    String[] motiveNames = { "", "主修/輔系", "偶像", "韓劇", "韓綜", 
        "韓樂", "文化", "歷史", "文學", "飲食", "語言學", "會日語", 
        "火星文", "好玩", "另一半", "母語", "其它" };
%>

<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>批踢踢韓國語板–第13次板聚報名結果</title>
<style type="text/css" media="all">
	@import "/stylesheets/tyle.css";
</style>
</head>
<body>
<div id="container">
<p class="title">台大批踢踢實業坊 韓國語板 <br/>第13次板聚報名名單</p>

<%
    if (request.getParameter("sn") == null) {
        return;
    }
%>

<table>
    <tr class="row1">
        <td>PTT帳號</td>
        <td>居住地區</td>
        <td>交通工具</td>
        <td>動機</td>
        <td>建議</td>
        <td>其它</td>
    </tr>

    <tr class="row2">
        <td><%= pttid %></td>
        <td><%= location %></td>
        <td><%= transport %></td>
        <td><%= motiveStr %></td>
        <td><%= suggest %></td>
        <td><%= other %></td>
    </tr>
</table>
</div>
</body>
</html>
